.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 60vw;
  margin-top: 30px;
  margin-left: 20px; */
  margin-bottom: 20px;
}

.app__stats {
display: flex;
/* width: 500px; */
justify-content: space-between;
}

.app__dropdown {
  background-color: white;
}

.app__left {
  flex: 0.9;
}
